@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-impact: 'Impact', sans-serif;

}

body {
  background: var(--background-light);
  color: var(--foreground-light);
  font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-dark);
    color: var(--foreground-dark);
  }
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: moveStar linear infinite;
}

.fade-in-section {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}


@keyframes moveStar {
  0% {
    transform: translateX(-100%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) translateY(0);
    opacity: 0;
  }
}
@keyframes riseIn {
  from {
    opacity: 0;
    transform: translateY(800%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fallOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(800%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-section{
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

  .appear-on-scroll {
    animation-name: riseIn;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    animation-timeline: view();
    animation-range: entry 0% cover 40%;

    animation-delay: var(--delay, 0s);
  }

  .scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(0);
    font-size: 2rem;
    opacity: 0;
    animation: scrollFade 10s ease-in-out infinite;
    pointer-events: none;
    user-select: none;
  }
  
  @keyframes scrollFade {
    0% {
      opacity: 0;
      transform: translateX(0) translateY(0);
    }
    5% {
      opacity: 1;
      transform: translateX(0) translateY(0px);
    }
    15% {
      opacity: 0;
      transform: translateX(0) translateY(30px);
    }
    100% {
      opacity: 0;
      transform: translateX(0) translateY(30px);
    }
  }